[user]
	name = Petr Korolev
	email = sky4winder@gmail.com
[mergetool "araxis"]
	cmd = araxis-mergetool \"$LOCAL\" \"$REMOTE\" \"$MERGED\" \"$BASE\"
[merge]
	tool = araxis
[alias]
	# Aliases
	gmg = merge --no-ff
	ch = checkout
	st = status
	mg = merge --no-ff
	br = branch
	df = diff
	ft = fetch
	ps = push origin

[core]
	excludesfile = /Users/p.korolev/.gitignore_global
	editor = nano
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true